<div class="action">
    <h1><%= title %></h1>

    <div class="back-btn">
        <a href="/admin/<%= activeRoute %>">Back</a>
    </div>          
    
    <div class="update-block">
        <form action="/admin/<%= activeRoute %>/edit/<%= data.id %>" method="post">
            <label for="code">Code<span>*</span></label>
            <input type="text" name="code" id="code" value="<%= data.code %>" required>

            <button type="submit" class="submit">Update</button>
        </form>
    </div>
</div>