<div class="action">
    <h1><%= title %></h1>

    <div class="back-btn">
        <a href="/admin/<%= activeRoute %>">Back</a>
    </div>      

    <div class="update-block">
        <form action="/admin/<%= activeRoute %>/edit/<%= data.id %>" enctype="multipart/form-data" method="post">
            <label for="lang">Lang<span>*</span></label>
            <select name="lang" id="lang" class="lang-selector" required>
                <% langs.forEach(elem => { %>
                 <option 
                    value="<%= elem.code %>"
                    <%= data.lang === elem.code ? "selected" : "" %>
                ><%= elem.code %></option>
                <% }) %>
            </select>
            
            <label for="name">Name<span>*</span></label>
            <input type="text" name="name" id="name" value="<%= data.name %>" required>
            
            <label for="profession">Profession<span>*</span></label>
            <input type="text" name="profession" id="profession" value="<%= data.profession %>" required>
     
            <label for="img">Image<span>*</span></label>
            <input type="hidden" name="oldImage" value="<%= data.image %>">
            
            <div class="image-box">
                <img src="<%= data.image %>" alt="current image" id="preview" class="image-preview active">
                <input type="file" accept="image/*" name="image" id="img">
            </div>
    
            <button type="submit" class="submit">Update</button>
        </form>
    </div>
</div>