<div class="action">
    <h1><%= title %></h1>

    <div class="back-btn">
        <a href="/admin/<%= activeRoute %>">Back</a>
    </div>          
        
    <div class="update-block">
        <form action="/admin/<%= activeRoute %>/edit/<%= data.id %>" method="post">
            <label for="lang">Lang<span>*</span></label>
            <select name="lang" id="lang" class="lang-selector" required>
                <% langs.forEach(elem => { %>
                <option 
                    value="<%= elem.code %>"
                    <%= data.lang === elem.code ? "selected" : "" %>
                ><%= elem.code %></option>
                <% }) %>
            </select>

            <label for="title">Title<span>*</span></label>
            <input type="text" name="title" id="title" value="<%= data.title %>" required>

            <label for="url">URL<span>*</span></label>
            <input type="text" name="url" id="url" value="<%= data.url %>" required>

            <button type="submit" class="submit">Update</button>
        </form>
    </div>
</div>