<div class="head second-head">
    <h1><%= title %></h1>

    <div class="right-side">
        <form action="/admin/<%= activeRoute %>/bulk-delete" id="bulk-delete-form" method="post">
            <input type="hidden" name="ids" id="selected-ids">
            <button type="submit" id="delete-btn" class="delete-btn">
                Delete 0 selected items
            </button>
        </form>

        <a href="/admin/<%= activeRoute %>/create" class="create-btn">
            Create new <%= title.toLowerCase() %>
        </a>
    </div>
</div>

<% if (data.length) { %>
<div class="table-wrapper">
    <table>
        <tr>
            <th>
                <input type="checkbox" id="select-all">
            </th>
            <th>N</th>
            <th class="lang-filter">
                Select Language
                <ul >
                    <% langs.forEach(elem => { %>
                        <li>
                            <a href="/admin/<%= activeRoute %>/?lang=<%= elem.code %>">
                                <%= elem.code %>
                            </a>
                        </li>
                    <% }) %>
                    <li>
                        <a href="/admin/<%= activeRoute %>">all languages</a>
                    </li>
                </ul>
            </th>
            <th>Title</th>
            <th>Detail</th>
        </tr>

        
        <% data.forEach((elem, index) => { %>
            <tr>
                <td>
                    <input 
                        type="checkbox" 
                        class="row-checkbox" 
                        value="<%= elem.id %>"
                    >
                </td>
                <td><%= ++index %></td>
                <td><%= elem.lang %></td>
                <td><%= elem.title %></td>
                <td>
                    <a href="/admin/<%= activeRoute %>/<%= elem.id %>" class="action">➡️</a>
                </td>
            </tr>
        <% }) %>
    </table>
</div>
<% } else { %>
    <p class="no-data-text">No Data Yet</p>
<% } %>

<!-- <hr style="margin-block: 10px;"> -->

    
     
