<div class="action">
    <h1>
        <%= title %>
    </h1>

    <div class="back-btn">
        <a href="/admin/<%= activeRoute %>">Back</a>
    </div>

    <div class="add-block">
        <form action="/admin/<%= activeRoute %>/add" method="post" enctype="multipart/form-data">
            <label for="lang">Lang<span>*</span></label>
            <select name="lang" id="lang" class="lang-selector" required>
                <option value="" disabled selected>Choose language</option>
                <% langs.forEach(elem=> { %>
                    <option value="<%= elem.code %>">
                        <%= elem.code %>
                    </option>
                    <% }) %>
            </select>

            <label for="title">Title<span>*</span></label>
            <input type="text" name="title" id="title" required>

            <label for="credit">Credit<span>*</span></label>
            <input type="text" name="credit" id="credit" required>

            <table class="social-table">
                <thead>
                    <tr>
                        <th>Url</th>
                        <th>Icon</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="add-links-container">
                    <tr class="add-new-link">
                        <td>
                            <input type="text" name="urls" placeholder="https://..." id="url" required>
                        </td>
                        <td>
                            <input type="file" name="images" accept="image/*" class="image-input" required>
                            <img class="image-preview"
                                style="width:50px; display:none; margin-top:5px; background: linear-gradient(135deg, #4f46e5, #6366f1);">
                        </td>
                        <td>
                            <button type="button" class="delete-row">❌</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="add-links">➕ Add a new social link</button>

            <button type="submit" class="submit">Create</button>
        </form>
    </div>
</div>